
<h2><%= @category.name %> Category</h2>

<% @posts.each do |post| %>
	<h3> <%= link_to post.title, @post %> </h3>
	<p> <%= post.body %> </p>
<% end %>
<%= link_to "Back", categories_path %> | <%= link_to "Delete", @category, :method => :delete %>